/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
  background: #F5FFFA;
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

// NAVBAR STYLING

.navbar-default {
	background-color: #F0FFF0;
	border-radius: 0;
	height: 80px;
	padding: 20px 0;
	border: 1px outset rgba(0,250,0, 0.5);
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 3em;
	font-weight: 500;
	color: #90EE90 !important;
	a {
		color: #90EE90;
	}
}

// TASKS STYLING

#tasks {
	.task {
		padding: 1em 0;
		h2 {
			font-size: 2.5em;
			font-weight: 400;
			margin-bottom: 5;
			color: #90EE90;
			a {
				color: #90EE90;
			}
		}
		p {
			color: #808080;
		}
	}
}

#links {
	margin-top: 2em;
}
